USE [StudentManagement]
GO
/****** Object:  StoredProcedure [dbo].[ShowStudentData]    Script Date: 11-07-2025 23:29:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[ShowStudentData]
--Exec ShowStudentData 1;
as begin 
select * from Students;
end
