
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index1</title>
</head>
<body>
    <p>
        Collected Address is from 1st controller is  TempData["myAddress"]
    </p>
</body>
</html>
