
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @{
        int x=10;
        int y = 20;
        int z = x + y;
        @:Sum inside code block: @z
    }
    <p>Sum is @z</p>
</body>
</html>
